---
---
@charset "utf-8";

$skin: "dark";
$doc-font-size: 14; /* default is 16 */

@import "minimal-mistakes/skins/dark";
@import "minimal-mistakes";

pre, pre code {
  white-space: pre-wrap;
  word-break: break-word;
}

.expandable-code {
  margin-bottom: 1.3em;

  pre {
    overflow: hidden;
    transition: max-height 120ms ease;
    margin-bottom: 0.75em;
  }
}

.expandable-code__actions {
  text-align: center;
}

.page__content table {
  width: max-content;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}

.page__content table th,
.page__content table td {
  text-align: left;
  padding: 0.65em 1em;
}
